body {
    background-color: #F3F3F3;
}

.clickableTable tr .clickableCell {
    cursor: pointer;
}

.clickableTable tr .clickableCell a {
    text-decoration: none;
}

.clickableTable tr .clickableCell a:hover {
    color: #007bff;
}

.ui-menu-item {
    cursor: pointer;
}

.btn-outline-secondary {
    border: none;
}

.message:link {
    color: black;
}

.message:visited {
    color: black;
}

.message:hover {
    color: black;
}

.message:active {
    color: black;
}

.pre-scrollable {
    max-height: 650px;
    overflow: auto;
}